#header
  = link_to "Register a new user", url(:new_user)

%h1
  Welcome in Merb Startup App!

%h2
  Features:
%ul
  %li
    Admin user
  %li
    User registration
  %li
    User confirmation by admin or email
  %li
    Simple account management
  %li
    Emailing new password
  %li
    Configured mailer
    
    
    
    
    
    
